@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #060d15;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

header { 
    top: 0;
    right: 0;
    display: flex;
    position: fixed;
    width: 100%;
    height: 15vh;
    background-color: #1f2833;
    border: 3px solid #4e54c8;
    border-left: 0;
    border-right: 0;
    font-family: 'Anton', sans-serif;
    z-index: 99;
}

header a {
    color: #4e54c8;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    margin-right: 10%;
}

li {
    margin-right: 10px;
}

.titulo {
    font-size: 25px;
    letter-spacing: .4rem;
    margin-left: 10%;
    align-items: center;
    height: 100%;
    color: #4e54c8;
    margin-top: 2%;
}

.container-area {
    margin-top: 17%;
    margin-right: 50%;
    font-size: 35px;
    color: #4e54c8;
    letter-spacing: .2rem;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
}

.context h3 {
    margin-top: 10%;
    text-align: left;
    margin-left: 150px;
    color: #fff;
    font-size: 50px;
    font-family: 'Exo', sans-serif;
}

.context h4 {
    text-align: left;
    margin-left: 150px;
    color: #fff;
    font-size: 40px;
    font-family: 'Exo', sans-serif;
}

.texto {
    margin-top: 10%;
    text-align: left;
    color: rgb(154, 154, 154);
    font-size: 20px;
    font-family: 'Exo', sans-serif;
}


h1 {
    font-size: 20px;
    color: aliceblue;
    font-size: 25px;
    letter-spacing: .4rem;
    margin-left: 10%;
    align-items: center;
    height: 100%;
    color: #4e54c8;
}

.caixa {
    margin-top: -260px;
    margin-left: 50%;
    position: sticky;
    width: 350px;
    height: 350px;
    background: #060d15;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 13vh;
}

.caixa::before {
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, #4e54c8, #06f3af, #ff00ff );
    transition: .2s;
    animation: animar 2s linear infinite;
}

@keyframes animar {
    0% {
        transform: rotate(0deg);
    } 
    100% {
        transform: rotate(360deg);
    }
}

.caixa:hover::before {
    inset: -20px 0px;
}

.caixa::after {
    content: '';
    position: absolute;
    inset: 5px;
    background: #060d15;
    border-radius: 50%;
    z-index: 1;
}

.conteudo {
    position: absolute;
    inset: 30px;
    border: 6px solid #4e54c8;
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    user-select: none;
}

.conteudo img {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
    pointer-events: none;
}

.caixa:hover .conteudo img {
    opacity: 0.3;
}

.conteudo h2 {
    font-size: 1.5em;
    text-align: center;
    color: aliceblue;
    font-weight: 600;
    letter-spacing: .05em;
    text-transform: uppercase;
}

.sobre {
    display: flex;
    padding: 60px 0;
    background-color: #1f2833;
    border: 2px solid #4e54c8;
    border-left: 0;
    border-right: 0;
  }

.container1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.img1 {
    margin-top: 150px;
    text-align: left;
    margin-left: 10px;
    color: #fff;
    font-size: 50px;
    float: left;
    width: 100%;
    max-width: 300px;
    border-radius: 200px;
  }

.sobre-two {
    width: 90%;
    padding: 10px 20px;
}

.container1 h4 {
    margin-left: 30%;
    color: #4e54c8;
    font-weight: normal;
    font-size: 23px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Exo', sans-serif;
  }

.container1 p {
  margin-top: 3%;
  text-align: left;
  color: rgb(154, 154, 154);
  font-size: 18px;
  font-family: 'Exo', sans-serif;
  margin-left: 30%;

}

.violet {
    color: #4e54c8;
}

section {
    display: block;
}

.btn {
    background-color: #4e54c8;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 35px;
    transition: transform .4s;
    text-align: left;
    margin-left: 150px;
    color: #fff;
    margin-top: 10px;
}

.btn:hover{
    transform: scale(1.2);
}

h4 {
    margin-top: 10vh;
    margin-bottom: -10%;
    font-size: 35px;
    color: #4e54c8;
    letter-spacing: .2rem;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    font-family: 'Exo', sans-serif;
}

.card2 {
    margin-top: 10vh;
    background-image: linear-gradient(#4e54c8, #060d15);
    overflow: hidden;
    border-radius: 20px;
    min-width: 100vh;
    max-width: 200vh;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .7s;
    box-shadow: rgb(0, 0, 0, 0.35) 0px 5px 15px; 
}

.card2 .img2 {
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .7;
    transition: all .10s;
    z-index: 2;
}

.card2:hover {
    background-image: linear-gradient(#060d15, #4e54c8);
}

.card2:hover .img2 {
    opacity: 1;
    width: 200px;
}

.card2 .content {
    padding: 0 20px;
    overflow: hidden;
    height: 0;
    transition: all .5s;
    transform: translateY(30px);
}

.card2:hover .content {
    padding: 20px;
    height: 180px;
    transform: translateY(0);
}

.card2 .content .title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.card2 .content .desc {
    font-size: 14px;
    font-weight: 100;
    opacity: .7;
}

.card2 .arrow {
    padding: 15px;
    font-size: 28px;
    transform: rotate(-180deg);
    transition: all .5s;
}

.card2:hover .arrow {
    transform: rotate(0);
}

